@import '../lib/vars';

.active {
    display: block;
}

.inactive {
    display: none;
}

html, body, main {
    height: 100%;
    font-family: $brand-font;
    font: $black;
    font-size: 3vw;
}

button {
    border: $brand-primary solid 2px;
    border-radius: $border-radius;
    padding: ($gutter-sm / 2) $gutter-sm;
    background: $white;
    color: $brand-primary;
    outline: none;
    margin: $gutter-sm;
    font-weight: 500;
    font-size: 18px;
    border-radius: 3px;
    line-height: 22px;
    padding: 15px;
    margin: 15px 0px;
    width: 80%;
    box-sizing: border-box;
    outline: 0;
    max-width: 420px;
    text-align: center;


    

    &:hover {
      background: $brand-primary;
      color: $white;
      transition: all 1s;
    }
}
