{% extends "layout.jinja2" %}

{% block body %}
<header>
    <h1>Stock Analysis</h1>
    <div class="icon-menu"></div>
</header>
  <form method="POST">
    <div class="form-group">
      <label>Enter Stock Ticker:</label>
      <input name="stock_ticker" required></input>
    </div>

    {% if error %} 

      <div class="no_ticker_popup">
        <p> {{ error }} </p>
      </div>

    {% endif %} 


    <div class="form-group">
      <div class="submit-button">
        <input type="submit"></input>
      </div>
    </div>
  </form>

  {{ div|safe }}
  {{ script|safe }}

{% endblock body %}
