{% extends "layout.jinja2" %}

{% block body %}

  <h1>Put home view stuff here.</h1>

  <a href="{{ request.route_url('detail') }}">View Stock Analytics</a>
  <a href="{{ request.route_url('portfolio') }}">View Portfolio</a>

{% endblock body %}
