{% extends "layout.jinja2" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ request.static_path('stock_analysis:static/src/style/main.css') }}">

<link rel="stylesheet" type="text/css" href="{{ request.static_path('stock_analysis:static/src/style/link.css') }}">

<link rel="stylesheet" type="text/css" href="{{ request.static_path('stock_analysis:static/src/style/desktop.css') }}">
{% endblock head%}

{% block body %}
<div class="form-header">
    <h1 class="form-title"><a href={{ request.route_url('home') }}>Zephyr Stock Analysis</a></h1>

    <div class="landing-form">
        <a href={{ request.route_url('login') }}><button class="login-button" type="button">Login</button></a>
        <a href={{ request.route_url('register') }}><button class="sign-up-buttom" type="button">Register</button></a>
        <a href={{ request.route_url('detail') }}><button class="get-started" type="button">Get Started</button></a>
    <div>
</div>

{% endblock body %}
