{% extends "layout.jinja2" %}

{% block body %}

  <form method="POST">
    <button name="button" type="button">Get Started</button>
    <button name="button" type="button">Login</button>
    <button name="button" type="button">Sign Up</button>
  </form>

{% endblock body %}
