<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/src/style/main.scss">
</head>

<body>
    <h1>Stock Analysis</h1>

    <section id="content">
        {% block body %}{% endblock %}
    </section>

</body>
</html>