<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ request.static_path('stock_analysis:static/src/style/main.css') }}">
  <link rel="stylesheet" types="text/css" href="{{ request.static_path('stock_analysis:static/fonts/icomoon.css') }}">

    <!-- bokeh styling -->
    <link
        href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.9.min.css"
        rel="stylesheet" type="text/css">
    <link
        href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.9.min.css"
        rel="stylesheet" type="text/css">
    <link
        href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.9.min.css"
        rel="stylesheet" type="text/css">

</head>

<body>
  <header>
    <h1>Stock Analysis</h1>
    <p class="icon-menu"></p>
  </header>
      <section id="content">
        {% block body %}{% endblock %}
      </section>
  <footer>&copy Stock Analysis 2017</footer>

    <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.10.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.10.min.js"></script>
</body>
</html>