{% extends "user_layout.jinja2" %}

{% block head%}

<link href="{{ request.static_path('stock_analysis:static/src/style/portfolio.css') }}" rel="stylesheet" />
<link href="{{ request.static_path('stock_analysis:static/src/style/boot-header.css') }}" rel="stylesheet" />

{% endblock %}


{% block detail %}
<h2 class="portfolio_header">Stock Portfolio</h2>

<div class="container">
    <table class="table table-striped table-responsive-sm">
        <thead>
            <tr>
                <th scope="col">Company</th>
                <th scope="col">Ticker</th>
                <th scope="col">Price</th>
                <th scope="col">Today's Change</th>
                <th scope="col">Open</th>
                <th scope="col">P/E Ratio</th>
                <th scope="col"></th>
            </tr>
        </thead>
        {% for ticker in stock_detail %}
        <tbody>
            <tr class='clickable-row'>
                <td>{{ stock_detail[ticker].company }}</td>
                <td><a href="{{ request.route_url('detail') }}?ticker={{ stock_detail[ticker].ticker }}">{{ stock_detail[ticker].ticker }}</td>
                <td>${{ stock_detail[ticker].price }}</td>
                <td>{{ stock_detail[ticker].dollar_change }} {{ stock_detail[ticker].pct_change }}</td>
                <td>${{ stock_detail[ticker].open_price }}</td>
                <td>{{ stock_detail[ticker].pe }}</td>
                <td>
                    <form name="portfolio-form" method="POST">
                        <input name="{{ stock_detail[ticker].ticker }}" type="submit" value="Delete" class="btn btn-danger">
                        <input type="hidden" name="Delete">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% if error %}
<p style="color: red">{{ error }}</p>
{% endif %}
    
<div class="col-lg-6">
    <form name="portfolio-form" method="POST">
        <div class="input-group">
            <input name="new_ticker" type="text" class="form-control" placeholder="Add Stock to Portfolio">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit">Go!</button>
            </span>
        </div>
    </form>
</div>

{% endblock detail %}
