{% extends "layout.jinja2" %}

{% block body %}

{#     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 #} 
    <a href="{{ request.route_url('detail') }}">View Stock Analytics</a>
    <a href="{{ request.route_url('home') }}">Home</a>
    <a href="{{ request.route_url('process_symbol') }}">symbol</a>  {# # To process the symbol request #}

    <h1>Stock Portfolio</h1>

<table style="width: 80%">
    <thead>
        <td>Company</td>
        <td>Exchange/Ticker</td>
        <td>Current Price</td>
        <td>Growth</td>
        <td>Open</td>
        <td>High</td>
        <td>Low</td>
    </thead>
    {% for ticker in stock_detail %}
    <tr class='clickable-row'>
        <td class="c1"><SPAN>{{ stock_detail[ticker].company }}</SPAN></td>
        <td class="c2"><SPAN>{{ stock_detail[ticker].exchange }}:  {{ stock_detail[ticker].ticker }}</SPAN></td>
        <td class="c3"><SPAN>${{ stock_detail[ticker].current }}</SPAN></td>
        <td class="c4"><SPAN>{{ stock_detail[ticker].growth }}</SPAN></td>
        <td class="c5"><SPAN>{{ stock_detail[ticker].open }}</SPAN></td>
        <td class="c5"><SPAN>{{ stock_detail[ticker].high }}</SPAN></td>
        <td class="c5"><SPAN>{{ stock_detail[ticker].low }}</SPAN></td>
    </tr>
    {% endfor %}
</table>
<form>
    <div class="form-group">
        <input type="text" name="fname" placeholder="Enter Stock Symbol Here"><br>
        <button id="add-button" type="submit">+</button>
    </div>
</form>

    
{% endblock body %}
