{% extends "user_layout.jinja2" %}

{% block detail %}
    <h2>Stock Portfolio</h2>

<table style="width: 80%">
    <thead>
        <td>Company</td>
        <td>Ticker</td>
        <td>Current Price</td>
        <td>Change</td>
        <td>Open</td>
        <td>High</td>
        <td>Low</td>
    </thead>
    {% for ticker in stock_detail %}
    <tr class='clickable-row'>
        <td>{{ stock_detail[ticker].company }}</td>
        <td>{{ stock_detail[ticker].ticker }}</td>
        <td>${{ stock_detail[ticker].current }}</td>
        <td>{{ stock_detail[ticker].growth }}</td>
        <td>{{ stock_detail[ticker].open }}</td>
        <td>{{ stock_detail[ticker].high }}</td>
        <td>{{ stock_detail[ticker].low }}</td>
        <td>
          <form name="portfolio-form" method="POST">
            <input name="{{ stock_detail[ticker].ticker }}" type="submit" value="delete">
            <input type="hidden" name="delete">
          </form>
        </td>
    </tr>
    {% endfor %}
</table>

    {% if error %}
    <p style="color: red">{{ error }}</p>
    {% endif %}
    
     <div class="form-group">
        <form name="portfolio-form" method="POST">
            <input name="new_ticker" type="text" class="form-input" placeholder="Stock Ticker" required>
            <br>
            <input name="addtoportfolio" type="submit" value="Add To My Portfolio">
        </form>
    </div>

    
{% endblock detail %}
