{% extends "layout.jinja2" %}

{% block body %}

  <h1>Put profile view stuff here.</h1>

  <a href="{{ request.route_url('detail') }}">View Stock Analytics</a>
  <a href="{{ request.route_url('home') }}">Home</a>

{% endblock body %}