{% extends "layout.jinja2" %}

{% block body %}
<div class="sign-up">
    <form name="signup" method="POST">
        <input name="user-name" type="text" class="form-input" placeholder="User Name" required>
        <input name="password" type="text" class="form-input" placeholder="Password" required>
        <input name="register" type="submit" value="SIGN UP">
    </form>
</div>
{% endblock %}