@import '../lib/_vars.scss';

//.....FORMS.....\\
form {
    margin: 35% auto;
    text-align: center;
}

.form-input {
    color: $egg;
    font-weight: 500;
    font-size: 18px;
    border-radius: 3px;
    line-height: 22px;
    background-color: transparent;
    border: none;
    transition: all 1s;
    padding: 15px;
    margin-bottom: 15px;
    width: 80%;
    box-sizing: border-box;
    outline: 0;
    border: 2px solid $brand-primary;
  }

::placeholder {
    color: $brand-primary;
}
  
.form-input:focus {
    background: $brand-primary;
}

[type="submit"] {
    width: 80%;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    background: $black;
    color: $egg;
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all .5s;
    margin-top: -5px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: $brand-primary;
}

.landing-form {
    margin: 30% auto;
    text-align: center;
}

.form-title {
    text-align: center;
    margin-top: 20%;
    font-size: 40px;
    font-weight: 500;
    color: $black;
}