@import '../lib/vars'

header {
    width: 100%;
    height: 8vw;
    background: $brand-tertiary;
    color: $white;
    box-sizing: border-box;
    position: relative;
  
    h1 {
      font-size: 4vw;
      position: absolute;
      top: 2vw;
      left: 1vw;
    }
}