@import '../lib/vars';

header {
    width: 100%;
    height: 10vw;
    background: $brand-primary;
    color: $white;
    box-sizing: border-box;
    position: relative;

    h1 {
        display: inline-block;
        font-size: 5vw;
        margin: 2vw 5vw;
        text-align: center;
        float: right;
        
    }

    p {
        display: inline-block;
        color: $white;
        font-size: 5vw;
        margin: 2vw 2vw;
        float: left;
    }
}