.hamberger-links {
    float: right;
}

.form-actions {
    display: block;
    margin: 1em;
    background-color: transparent;
    text-align: center;
}

.alert-warning {
    width: 60%;
    margin: auto;
    display: block;
    text-align: center;
}

.container {
    margin-top: 2em;
}

.graph_container {
    display: block;
    margin: auto;
    height: 500px;
    max-width: 1200px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.table_container {
    display: block;
    margin: 0em, 1em, 0em, 1em;
}

footer {
    margin: 15% auto;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.error404 {
    color: black;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin: 2em;
}

@media screen and (max-width: 992px) {
    .hamberger-links {
        float: none;
    }

    .table_container {
        display: block;
        margin: 0px;
    }

    .graph_container {
        height: 500px;
    }
}