@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash|Sedgwick+Ave|Ubuntu+Mono|Yellowtail|Fugaz+One");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.active {
  display: block; }

.hidden {
  display: none; }

html, body, main {
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  font: #1f1f1f;
  font-size: 3vw; }

button {
  border: #00B25E solid 2px;
  border-radius: 3px;
  padding: 1.25vw 2.5vw;
  background: #fbfbfb;
  color: #00B25E;
  outline: none;
  margin: 2.5vw;
  font-weight: 500;
  font-size: 18px;
  border-radius: 3px;
  line-height: 22px;
  padding: 15px;
  margin: 15px 0px;
  width: 80%;
  box-sizing: border-box;
  outline: 0;
  max-width: 420px;
  text-align: center; }
  button:hover {
    background: #00B25E;
    color: #fbfbfb;
    transition: all 1s; }

header {
  width: 100%;
  height: 10vw;
  background: #00B25E;
  color: #fbfbfb;
  box-sizing: border-box; }
  header h1 {
    font-family: "Berkshire Swash", cursive;
    display: inline-block;
    font-size: 5vw;
    margin: 2vw 5vw;
    text-align: center;
    float: right; }
  header div {
    display: inline-block;
    color: #fbfbfb;
    font-size: 5vw;
    margin: 2vw 2vw;
    float: left; }
    header div:hover {
      cursor: pointer;
      background-color: #1f1f1f;
      border-radius: 2px; }

footer {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  height: 10vw;
  opacity: .5;
  color: #1f1f1f;
  text-align: center;
  margin-bottom: 50px; }

.body-background {
  color: #f0ead6; }

form {
  margin: 0 auto;
  text-align: center;
  background: transparent; }

.form-input {
  color: #f0ead6;
  font-weight: 500;
  font-size: 18px;
  border-radius: 3px;
  line-height: 22px;
  background-color: transparent;
  border: none;
  transition: all 1s;
  padding: 15px;
  margin-bottom: 15px;
  width: 80%;
  box-sizing: border-box;
  outline: 0;
  border: 2px solid #00B25E; }

::placeholder {
  color: #00B25E; }

.form-input:focus {
  background: #00B25E; }

[type="submit"] {
  width: 80%;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  background: #1f1f1f;
  color: #f0ead6;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all .5s;
  margin-top: -5px;
  font-weight: 700; }

[type="submit"]:hover {
  background: #00B25E; }

/*# sourceMappingURL=main.css.map */
